<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,76}</string>
                <key>spriteSourceSize</key>
                <string>{189,76}</string>
                <key>textureRect</key>
                <string>{{378,59},{189,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,76}</string>
                <key>spriteSourceSize</key>
                <string>{189,76}</string>
                <key>textureRect</key>
                <string>{{567,59},{189,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,76}</string>
                <key>spriteSourceSize</key>
                <string>{189,76}</string>
                <key>textureRect</key>
                <string>{{0,135},{189,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_开始游戏.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,160}</string>
                <key>spriteSourceSize</key>
                <string>{379,160}</string>
                <key>textureRect</key>
                <string>{{205,340},{379,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_添加.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,72}</string>
                <key>spriteSourceSize</key>
                <string>{70,72}</string>
                <key>textureRect</key>
                <string>{{66,59},{70,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_返回主界面.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,90}</string>
                <key>spriteSourceSize</key>
                <string>{87,90}</string>
                <key>textureRect</key>
                <string>{{189,135},{87,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{0,59},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,59}</string>
                <key>spriteSourceSize</key>
                <string>{47,59}</string>
                <key>textureRect</key>
                <string>{{867,0},{47,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_关卡.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,55}</string>
                <key>spriteSourceSize</key>
                <string>{112,55}</string>
                <key>textureRect</key>
                <string>{{185,0},{112,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_提示.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,55}</string>
                <key>spriteSourceSize</key>
                <string>{113,55}</string>
                <key>textureRect</key>
                <string>{{297,0},{113,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_水果升级.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,55}</string>
                <key>spriteSourceSize</key>
                <string>{229,55}</string>
                <key>textureRect</key>
                <string>{{410,0},{229,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title升级炮塔.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,55}</string>
                <key>spriteSourceSize</key>
                <string>{228,55}</string>
                <key>textureRect</key>
                <string>{{639,0},{228,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>五角星.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{29,0},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>侧边栏.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,101}</string>
                <key>spriteSourceSize</key>
                <string>{95,101}</string>
                <key>textureRect</key>
                <string>{{827,135},{95,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>关卡数字底.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,105}</string>
                <key>spriteSourceSize</key>
                <string>{102,105}</string>
                <key>textureRect</key>
                <string>{{103,340},{102,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>内容框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,97}</string>
                <key>spriteSourceSize</key>
                <string>{107,97}</string>
                <key>textureRect</key>
                <string>{{720,135},{107,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>分享.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,101}</string>
                <key>spriteSourceSize</key>
                <string>{95,101}</string>
                <key>textureRect</key>
                <string>{{0,236},{95,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>分隔底.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,90}</string>
                <key>spriteSourceSize</key>
                <string>{96,90}</string>
                <key>textureRect</key>
                <string>{{276,135},{96,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>底部_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,213}</string>
                <key>spriteSourceSize</key>
                <string>{41,213}</string>
                <key>textureRect</key>
                <string>{{241,510},{41,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>底部_选中.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,184}</string>
                <key>spriteSourceSize</key>
                <string>{71,184}</string>
                <key>textureRect</key>
                <string>{{170,510},{71,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>弹窗底.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,321}</string>
                <key>spriteSourceSize</key>
                <string>{188,321}</string>
                <key>textureRect</key>
                <string>{{575,754},{188,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>挑战失败.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,104}</string>
                <key>spriteSourceSize</key>
                <string>{385,104}</string>
                <key>textureRect</key>
                <string>{{479,236},{385,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>挑战成功.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,101}</string>
                <key>spriteSourceSize</key>
                <string>{384,101}</string>
                <key>textureRect</key>
                <string>{{95,236},{384,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>排行榜.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{584,340},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>放射光.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{505,509}</string>
                <key>spriteSourceSize</key>
                <string>{505,509}</string>
                <key>textureRect</key>
                <string>{{0,1075},{505,509}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>水果升级.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{754,340},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>炮塔升级.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{0,510},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>箭头.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,23}</string>
                <key>spriteSourceSize</key>
                <string>{29,23}</string>
                <key>textureRect</key>
                <string>{{0,0},{29,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>设置.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,54}</string>
                <key>spriteSourceSize</key>
                <string>{114,54}</string>
                <key>textureRect</key>
                <string>{{71,0},{114,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>选中.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,104}</string>
                <key>spriteSourceSize</key>
                <string>{103,104}</string>
                <key>textureRect</key>
                <string>{{0,340},{103,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>金币底.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,75}</string>
                <key>spriteSourceSize</key>
                <string>{242,75}</string>
                <key>textureRect</key>
                <string>{{136,59},{242,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>音乐关.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,90}</string>
                <key>spriteSourceSize</key>
                <string>{87,90}</string>
                <key>textureRect</key>
                <string>{{372,135},{87,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>音乐开.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,90}</string>
                <key>spriteSourceSize</key>
                <string>{87,90}</string>
                <key>textureRect</key>
                <string>{{459,135},{87,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>音效关.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,90}</string>
                <key>spriteSourceSize</key>
                <string>{87,90}</string>
                <key>textureRect</key>
                <string>{{546,135},{87,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>音效开.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,90}</string>
                <key>spriteSourceSize</key>
                <string>{87,90}</string>
                <key>textureRect</key>
                <string>{{633,135},{87,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>飘带_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{575,244}</string>
                <key>spriteSourceSize</key>
                <string>{575,244}</string>
                <key>textureRect</key>
                <string>{{282,510},{575,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>飘带_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{575,244}</string>
                <key>spriteSourceSize</key>
                <string>{575,244}</string>
                <key>textureRect</key>
                <string>{{0,754},{575,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ViewUI.png</string>
            <key>size</key>
            <string>{924,1584}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d10e78b0563c8e50d06f2a8aabb9015f:542e884331596e26714cdeaeac94acc2:9f8e28888d18e9a96232e028b0f8a7d1$</string>
            <key>textureFileName</key>
            <string>ViewUI.png</string>
        </dict>
    </dict>
</plist>
