<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Match10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,80}</string>
                <key>spriteSourceSize</key>
                <string>{56,80}</string>
                <key>textureRect</key>
                <string>{{376,0},{56,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Match11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,66}</string>
                <key>spriteSourceSize</key>
                <string>{69,66}</string>
                <key>textureRect</key>
                <string>{{307,0},{69,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Match8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,69}</string>
                <key>spriteSourceSize</key>
                <string>{53,69}</string>
                <key>textureRect</key>
                <string>{{190,0},{53,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Match9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,52}</string>
                <key>spriteSourceSize</key>
                <string>{67,52}</string>
                <key>textureRect</key>
                <string>{{123,0},{67,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bummer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{243,0},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,89}</string>
                <key>spriteSourceSize</key>
                <string>{69,89}</string>
                <key>textureRect</key>
                <string>{{458,80},{69,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grid_fill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{380,80},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oil1(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,108}</string>
                <key>spriteSourceSize</key>
                <string>{128,108}</string>
                <key>textureRect</key>
                <string>{{0,220},{128,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oil1(2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{300,220},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>selected_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{428,220},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图标底.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{527,80},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>奇异果.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{432,0},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>存储底.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,30}</string>
                <key>spriteSourceSize</key>
                <string>{86,30}</string>
                <key>textureRect</key>
                <string>{{37,0},{86,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>山竹.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{508,0},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>底部.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,128}</string>
                <key>spriteSourceSize</key>
                <string>{720,128}</string>
                <key>textureRect</key>
                <string>{{0,417},{720,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>柠檬.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{584,0},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>橙子.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{660,0},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>水果_0001_提示手指.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{736,0},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>添加.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>炮台.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,107}</string>
                <key>spriteSourceSize</key>
                <string>{89,107}</string>
                <key>textureRect</key>
                <string>{{624,80},{89,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>牛油果.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{812,0},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>目标.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,140}</string>
                <key>spriteSourceSize</key>
                <string>{95,140}</string>
                <key>textureRect</key>
                <string>{{809,80},{95,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>目标框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,67}</string>
                <key>spriteSourceSize</key>
                <string>{172,67}</string>
                <key>textureRect</key>
                <string>{{128,220},{172,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>矩形 12 拷贝 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,158}</string>
                <key>spriteSourceSize</key>
                <string>{157,158}</string>
                <key>textureRect</key>
                <string>{{556,220},{157,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>苹果.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{0,80},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>草莓.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{76,80},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>菠萝.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{152,80},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{228,80},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>设置.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,100}</string>
                <key>spriteSourceSize</key>
                <string>{96,100}</string>
                <key>textureRect</key>
                <string>{{713,80},{96,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>锤子.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,197}</string>
                <key>spriteSourceSize</key>
                <string>{188,197}</string>
                <key>textureRect</key>
                <string>{{713,220},{188,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>顶部.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,148}</string>
                <key>spriteSourceSize</key>
                <string>{720,148}</string>
                <key>textureRect</key>
                <string>{{0,545},{720,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>香蕉.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{304,80},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GameUI.png</string>
            <key>size</key>
            <string>{904,693}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fad68bbdcc8c63ddf465d69ce509fc28:8e341e8760c750bd9682d06f14f139be:2531ce2a050ca5e2ac51e04161e77adb$</string>
            <key>textureFileName</key>
            <string>GameUI.png</string>
        </dict>
    </dict>
</plist>
